{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "scenes": "./src/scenes",
          "navigation": "./src/navigation",
          "components": "./src/components"
        }
      }
    ]
  ]
}
